
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}
.parentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 10px;
}

a, #secText {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}

.header, .footer, .hero{
    background-color: #1F2937;
    padding: 16px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
}
.button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    color: #F9FAF8;
    align-self: start;
}

#heroMain {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.img1 {
    height: 250px;
    width: 600px;
    flex-shrink: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin-bottom: 36px;
}

#infohead {
    font-size: 36px;
    font-weight: extra-bold; 
    color: #1F2937;
    padding: 40px;
}

.memberC {
    display: flex;
    gap: 40px;
}

.member img {
    width: 200px;
    height: 200px;
}

.member .infotext {
    width: 200px;
}

.member img {
    border-radius: 25px;
    border: 2px solid blue;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote #text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote #person {
    font-size: 16px;
    color: #1F2937;
    text-align: right;
}
