
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header, .footer {
    background-color: #1F2937;
    padding: 16px 6px;
}

.header {
    display: flex;
    justify-content: space-between;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}
